{% extends "base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
  <h1>Hello, Flask</h1>
    <p>
        {% if post %}
            Title: {{post.title}}
            Author: {{post.author}}
            Slugline: {{post.slugline}}
            Body: {{post.body}}




        {% else %}
        <form name="input" action="add" method="post">
            Title: <input type="text" name="title">
            Author: <input type="text" name="author">
            Slugline: <input type="text" name="slugline">
            Body: <input type="text" name="body">

            <input type="submit" value="Submit">
        </form>
        {% endif %}

    </p>
{% endblock %}

 {% block footer %}
    {{ super() }}
 {% endblock %}