<!doctype html>
<html ng-app="nameless">

  <head>
  <meta charset="utf-8">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nameless.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>

  <body>
    <div id="wrap">
    <header id="header">
        <nav>

            <img src="{{ url_for('static', filename='img/NS.png') }}" />
            <img src="{{ url_for('static', filename='img/about.png') }}" />
            <img src="{{ url_for('static', filename='img/projects.png') }}" />
            <a href="#/blog/5"><img src="{{ url_for('static', filename='img/blog.png') }}" /></a>

        </nav>
    </header>

        <div id="contside">
        <nav id="side">
            {% block navbar %}{% raw %}
                <ul><a href="#/posts/4">Most Recent Posts</a></ul>

            {% endraw %}
            {% endblock %}
        </nav>
        <div id="content"  ng-view>
            {% block content %}

            {% endblock %}
        </div>
        </div>

        <footer id="footer">
          {% block footer %}
              this is the footer Lorem Ipsum and shit and some copyrights.
          {% endblock %}
        </footer>


<script src={{ url_for('static', filename='lib/angular.js') }}></script>
                 <script src={{ url_for('static', filename='lib/angular-resource.js') }}></script>

        <script src={{ url_for('static', filename='lib/angular-route.js') }}></script>
        <script src={{ url_for('static', filename='js/nameless.js') }}></script>
        <script src={{ url_for('static', filename='js/namelessServices.js') }}></script>
         <script src={{ url_for('static', filename='js/controllers.js') }}></script>


  </div>
  </body>
</html>