{% extends "base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
{% if post %}
<article class="post">
  <h1 id="title">title:{{post.title}}</h1>
  <h2 id="author">author:{{post.author}}</h2>
  <i id="date">date:{{post.dateposted}}</i>
  <i>id:{{post.id}}</i>
  <p id="postbody">body:{{post.body}}</p>
  <i i="slugline">slugline:{{post.slugline}}</i>
</article>
{% endif %}
{% endblock %}

 {% block footer %}
    {{ super() }}
 {% endblock %}